@font-face {
    font-family: Chloe;
    src: url(Chloe-Regular.woff);
}

@font-face {
    font-family: AeonikPro;
    src: url(AeonikProTRIAL-Regular.otf);
}

#title {
    font-family: Chloe;
    font-size: 19vw;
    margin-bottom: 0%;
}

#title2 {
    font-family: Chloe;
    font-size: 19vw;
    margin-top: -10%;
    margin-bottom: 4%;
}

#div-title {
    margin-top: -22%;
    display: inline-block;
}

#div-insta {
    display: inline-block;
}

#insta {
    font-family: AeonikPro;
    letter-spacing: 0.1vw;
    font-size: 0.8vw;
}

body {
    position: relative;
    left: 21vw;
}

a {
    color: black;
}

#arrow {
    position: relative;
    height: 10vw;
    margin-top: 32.4%;
    right: 47vw;
    float: right;
}

body {
    background-image: url(background1.png);
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;

}
