@font-face {
    font-family: Chloe;
    src: url(Chloe-Regular.woff);
}

@font-face {
    font-family: AeonikPro;
    src: url(AeonikProTRIAL-Regular.otf);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

#title {
    font-family: Chloe;
    font-size: 19vw;
    margin-bottom: 0%;
}

#title2 {
    font-family: Chloe;
    font-size: 19vw;
    margin-top: -10%;
    margin-bottom: 5%;
}

header {
    margin-top: -20%;
    display: inline-block;
    opacity: 0;
}

#div-insta {
    display: inline-block;
    margin-left: -3.7%;
}

#insta {
    font-family: AeonikPro;
    letter-spacing: 0.1vw;
    font-size: 1.2vw;
    margin-top: 10%;
}

body {
    position: relative;
    left: 21vw;
}

a {
    color: black;
}

#arrow {
    position: relative;
    height: 10vw;
    margin-top: 34.4%;
    right: 46vw;
    float: right;
}

body {
    background-image: url(background1.png);
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;

}

#aboutme {
    text-align: right;
    font-size: 1.2vw;
    margin-top: 11%;
    position: relative;
    right: 46vw;
    float: right;
    
}

#aboutme_text {
    font-family: AeonikPro;
    letter-spacing: 0.1vw;
}

#hk {
    text-align: left;
    float: left;
    font-size: 5vw;
    margin-top: 7.4%;
}

#hk_text {
    font-family: Chloe;
    letter-spacing: -1.07vw;
}

